$main_color: rgb(255, 255, 255);
$sub_color: rgb(0, 0, 0);
$font: impact;
//PC向けサイズ
@media screen and (min-width: 1243px){


  .phone_menu{
    display: none;
  }
}
//スマホ向けサイズ
@media screen and (max-width: 1242px){
  .menu{
    display: none;
  }
  .menu-space {
    display: none;
  }
  .menu_btn {
    display: none;
  }
}
