$main_color: rgb(255, 255, 255);
$sub_color: rgb(0, 0, 0);
$font: impact;
//PC向けサイズ
@media screen and (min-width: 769px){
  .menu {
    //メニューボタンは英語のみ
    font-family: $font;
    text-decoration: none;
    color: $main_color;
    font-size: 20px;
  }
  .menu-space {
    width: 260px !important;
  }
  .manu_btn {
    font-family: impact;
    text-align: center;
    height: 100%;
    background-color: $sub_color;
    position: fixed;
  }
}

//スマホ向けサイズ
@media screen and (max-width: 768px){
  .menu{
    display: none;
  }
  .menu-space {
    display: none;
  }
  .manu_btn {
    display: none;
  }
}
