
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #212529;
  width:175px;
}

/*その他と主な共通部分は省略*/

/*主な共通部分は省略*/

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
  cursor: pointer;
	 text-decoration: none;
	text-align: center;
	 transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
	opacity: 0.7;
}
