table.zentai{
  width:1100px;
  height:600px;
}
table.honbun{
  width:700px;
}
td.botan{
  width:200px;
  vertical-align:top;
}
td.yohaku{
  width:200px;
}
.copywrite{
  font-size: 10px;
}
input{
  height:60px;
  font-size: 16px;
}
td.ueyose{
  vertical-align:top;
}
tr.white{
  background-color: #FFF;
  height:50px;
}

td.bigf{
  font-size: 13px;
}
.resetbtn{
  height: 30px !important;
  width: 100px !important;
  font-size: 15px !important;
}
.reset-kakunin{
  font-size: 25px;
}

.reset-kakunin2{
  font-size: 18px;
}
