$maincolor: rgb(66, 255, 0);
body {
  background-color: rgb(251, 251, 251);
}
@media screen and (min-width: 481px){
// pcの場合
  .m_space{
    width: 300px;
  }
}
@media screen and (max-width: 480px){
//スマホの場合
  .m_space{
    display: none;
  }

}
