/* ここはサイズごとによって表示が変わるものを書いてあげるファイル */

@media screen and (max-width:639px) {
  .none{
    display: none;
  }
}

@media only screen and (min-width:640px) and (max-width:1023px) {
.none{
  display: none;
}
}

@media screen and (min-width:1024px) {
.none2{
  display: none;
}
}
