@media screen and (max-width:640px) {
  .none{display: none;}
  .ueyose{display: none;}
  .yohaku{display: none;}
  .buttontable{display: none;}
  .zentai{width:300px;height: auto;}
}
@media screen and (min-width:641px) {
.none2{
  display: none;
}
.zentai{
  width: 1100px;
}
.yohaku{
  width: 200px;
}

 

  /*　画面サイズが480px以下の場合ここの記述が適用される　*/

}