.zentai{
  width: 1100px;
  height: 800px;
}
.buttontable{
<<<<<<< HEAD
  width: 200px;
  vertical-align: top;
  padding-top: 10px;
=======
  width: 180px;
  vertical-align: top;
>>>>>>> 531b6d64eb3534fe8d7a6eea8f4e70d778f7eb39
}
.main_contents{
  width: 700px;
}
.yohaku{
  width: 200px;
}
<<<<<<< HEAD
.foom{
  width: 300px;
  height: 30px;
}
.fome{
  width: 350px;
  font-size: 18px;
}
.send_button{
  width: 150px;
  height:50px;

=======
.ueyose{
  vertical-align: top;
>>>>>>> 531b6d64eb3534fe8d7a6eea8f4e70d778f7eb39
}
.copywrite{
  font-size: 10px;
}
.yohaku{
  width:200px;
}
.dourui{
  width:200px;
  height:200px;
}
