$main_color: rgb(255, 255, 255);
$sub_color: rgb(0, 255, 232);
<<<<<<< HEAD
$font_color: rgb(0, 0, 0);
=======
$font_color: rgb(255, 255, 255);
>>>>>>> d1201a69cf9a6414aaece28cfc5de4807ffbb302
$bunsyou:18px;
$taitoru:20px;

body{
  background-color: $main_color;
}
.agaisen{
  width: 300px;
}
*{
  color: $font_color;
  .bunsyou{
    font-size: $bunsyou;
  }
  .taitoru{
    font-size: $taitoru;
  }
}
.bun{
  background-color: $sub_color;
  width: auto;
}
.hajime{
  background-color: $sub_color;
  width: auto;
}
<<<<<<< HEAD
.main_contents{
width:auto;
}
.buttontable{
  width: 200px;
  vertical-align: top;
}
.copywrite{
  font-size: 10px;
}
.name{
  font-size: 30px;
}
.pro_bun{
  font-size: 14px;
}
=======
>>>>>>> d1201a69cf9a6414aaece28cfc5de4807ffbb302
