body{
  background-color: ##f5f5f5;
}
.hidari{
  text-align:left;
  width: 100%;
}
.menu{
  width:150px;
  background-color: #a9a9a9;
}
a{
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-family : arial black,'ＭＳ Ｐ明朝',sans-serif ;
}
a:hover{
  opacity: 0.1;
}
.gazounyuuryoku{
  width:500px;
margin: 50px;
}
.gazou_in{
  height:42px;
  width:400px;
}
input{
  height:50px;
  vertical-align: middle;
}
.yohaku{
  height: 50px;
}

label {
     background: #000;
     color: #fff;
     cursor: pointer;
     padding: 15px 30px;
     margin: 0 10px 0 0;
     height: 20px;
     display: inline-block;
}
label input {
  height:30px;
}
#preview img {
  width: 200px;
  margin: 10px;
  border: solid 1px silver;
}
.botann{
  display: none;
}
#humberger {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  top: 0;
}
#humberger div:nth-of-type(2) {
  top: 10px;
}
#humberger div:nth-of-type(3) {
  bottom: 0;
}
